<div class="export-menu">
  <button type="button"
          #trigger
          class="export-menu__trigger"
          (click)="toggleMenu()"
          (keydown)="onTriggerKeydown($event)"
          [disabled]="isExporting()"
          [attr.aria-expanded]="isOpen()"
          aria-haspopup="menu"
          id="export-menu-trigger">
    @if (isExporting()) {
    Exporting…
    } @else {
    Export
    }
  </button>

  @if (isOpen()) {
  <ul class="export-menu__options" role="menu" aria-labelledby="export-menu-trigger" (keydown)="onMenuKeydown($event)">
    <li role="none">
      <button type="button" #menuItem role="menuitem" tabindex="-1" (click)="exportPng()">Export as PNG</button>
    </li>
    <li role="none">
      <button type="button" #menuItem role="menuitem" tabindex="-1" (click)="exportPdf()">Export as PDF</button>
    </li>
  </ul>
  }

  @if (errorMessage()) {
  <div class="export-menu__error" role="alert">{{ errorMessage() }}</div>
  }
  @if (infoMessage()) {
  <div class="export-menu__info" role="status">{{ infoMessage() }}</div>
  }
</div>
